
.agency .hero {
    height: 100vh;
    padding-top: 30vh;
    flex-direction: column;
    position: relative;
    background-color: #1d0f4167;
}

.agency .hero .agency-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.agency .hero .agency-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.agency .hero .agency-content {
    padding-inline: 50px;
    color: white;
}

.agency .hero .line {
    height: 3px;
    width: 50px;
    background: linear-gradient(to right, #1d0f41, #b84ff8);
    margin-top: 20px;
    margin-bottom: 50px;
}

.agency .hero h1 {
    font-weight: 700;
    width: 55vw;
}

.agency .hero p {
    font-size: 20px;
    width: 50vw;
}