
.home {

}

.home>a{
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 700;
    display: block;
    text-align: center;
    margin-block: 50px;
}

.home>a:hover img {
    animation: to-and-fro 1s ease infinite;
}

.home>a img{  
    height: 30px;
    transition: transform 0.5s ease;
}

.home>a button{
    background-color: #b84ff8;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;

}

@keyframes to-and-fro {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(10px);
    }
    100% {
        transform: translate(0);
    }
}
