
.navbar {
    padding: 50px 50px;
    background-color: #1d0f41;
}

.navbar-logo {
    height: 50px;
    align-items: center;
    gap: 10px;
}



.navbar-logo img {
    height: 100%;
}
.navbar-logo span {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.hamburger img {
    width: 50px;
    height: 50px;
    color: white;
}

.navbar-links {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #1d0f41;
    color: #fff;
    overflow-y: auto;
    z-index: 100;
}

.navbar-links ul{
    flex-direction: column;
    gap: 20px;
}

.navbar-links li{
    list-style: none;
    font-size: 20px;
}

.navbar-links li a{
    text-decoration: none;
    color: #fff;
}



